In [2]:
import pandas as pd
import boto3
import json

In [12]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")
DWH_ENDPOINT           = config.get("DWH", "DWH_ENDPOINT")

In [4]:
pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           2
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB    sparkify
5             DWH_DB_USER     awsuser
6         DWH_DB_PASSWORD    9Pp4!fak
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

In [5]:
import boto3

ec2 = boto3.resource('ec2',
                    region_name='us-west-2',
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

s3 = boto3.resource('s3',
                    region_name='us-west-2',
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

iam = boto3.client('iam',
                     region_name='us-west-2',
                     aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET)

redshift = boto3.client('redshift',
                        region_name='us-west-2',
                        aws_access_key_id=KEY,
                        aws_secret_access_key=SECRET)

In [10]:
sampleDbBucket =  s3.Bucket("awssampledbuswest2")
for obj in sampleDbBucket.objects.filter(Prefix="ssbgz"):
    print(obj)

s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/customer0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/dwdate.tbl.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0004_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0005_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0006_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0007_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier.tbl_0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0003_part_00.gz')

In [6]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::623865376517:role/dwhRole

In [7]:
response = iam.get_role(
    RoleName=DWH_IAM_ROLE_NAME,   
)


response

{'Role': {'Path': '/',
  'RoleName': 'dwhRole',
  'RoleId': 'AROAZCQKGF4C2J576HEYX',
  'Arn': 'arn:aws:iam::623865376517:role/dwhRole',
  'CreateDate': datetime.datetime(2020, 2, 11, 16, 14, 35, tzinfo=tzutc()),
  'AssumeRolePolicyDocument': {'Version': '2012-10-17',
   'Statement': [{'Effect': 'Allow',
     'Principal': {'Service': 'redshift.amazonaws.com'},
     'Action': 'sts:AssumeRole'}]},
  'Description': 'Allows Redshift clusters to call AWS services on your behalf.',
  'MaxSessionDuration': 3600},
 'ResponseMetadata': {'RequestId': '0c36c192-b71b-40f3-988f-24d21acbd38c',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '0c36c192-b71b-40f3-988f-24d21acbd38c',
   'content-type': 'text/xml',
   'content-length': '1014',
   'date': 'Tue, 24 Mar 2020 22:16:46 GMT'},
  'RetryAttempts': 0}}

#### Create Redshift cluster

In [8]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

In [15]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,awsuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cwsp5pn9cdrp.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-c46ef7bc
7,NumberOfNodes,4

In [17]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cwsp5pn9cdrp.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::623865376517:role/dwhRole

In [18]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-309e396b')

In [19]:
%load_ext sql

In [20]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://awsuser:9Pp4!fak@dwhcluster.cwsp5pn9cdrp.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.OperationalError) could not connect to server: Operation timed out
	Is the server running on host "dwhcluster.cwsp5pn9cdrp.us-west-2.redshift.amazonaws.com" (35.167.29.44) and accepting
	TCP/IP connections on port 5439?

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [46]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'awsuser',
  'DBName': 'sparkify',
  'Endpoint': {'Address': 'dwhcluster.cwsp5pn9cdrp.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2020, 3, 24, 22, 19, 38, 310000, tzinfo=tzutc()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ManualSnapshotRetentionPeriod': -1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-309e396b',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-c46ef7bc',
  'AvailabilityZone': 'us-west-2d',
  'PreferredMaintenanceWindow': 'wed:13:00-wed:13:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 2,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::623865376517:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current',
  'DeferredMaintenanceWindows': []},
 'ResponseMetadata': {'RequestId': '707e60f6-6e24-11ea-8af0-477fef2ab5df',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '707e60f6-6e24-11ea-8af0-477fef2ab5df',
   'content-type': 'text/xml',
   'content-length': '2387',
   'vary': 'Accept-Encoding',
   'date': 'Tue, 24 Mar 2020 23:08:57 GMT'},
  'RetryAttempts': 0}}

In [35]:
bucket=s3.Bucket('udacity-dend')
log_data_files = [filename.key for filename in bucket.objects.filter(Prefix='log-data')]
log_data_files[:10]

['log-data/',
 'log-data/2018/11/2018-11-01-events.json',
 'log-data/2018/11/2018-11-02-events.json',
 'log-data/2018/11/2018-11-03-events.json',
 'log-data/2018/11/2018-11-04-events.json',
 'log-data/2018/11/2018-11-05-events.json',
 'log-data/2018/11/2018-11-06-events.json',
 'log-data/2018/11/2018-11-07-events.json',
 'log-data/2018/11/2018-11-08-events.json',
 'log-data/2018/11/2018-11-09-events.json']

In [36]:

song_data_files = [filename.key for filename in bucket.objects.filter(Prefix='song-data/A/A')]
song_data_files[:10]

['song-data/A/A/A/TRAAAAK128F9318786.json',
 'song-data/A/A/A/TRAAAAV128F421A322.json',
 'song-data/A/A/A/TRAAABD128F429CF47.json',
 'song-data/A/A/A/TRAAACN128F9355673.json',
 'song-data/A/A/A/TRAAAEA128F935A30D.json',
 'song-data/A/A/A/TRAAAED128E0783FAB.json',
 'song-data/A/A/A/TRAAAEM128F93347B9.json',
 'song-data/A/A/A/TRAAAEW128F42930C0.json',
 'song-data/A/A/A/TRAAAFD128F92F423A.json',
 'song-data/A/A/A/TRAAAGR128F425B14B.json']

## Connecting to db and running queries

In [37]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [38]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
#print(conn_string)
%sql $conn_string

Exception during reset or similar
Traceback (most recent call last):
  File "/Users/d437487/data_engineering/vpy/lib/python3.7/site-packages/sqlalchemy/pool.py", line 687, in _finalize_fairy
    fairy._reset(pool)
  File "/Users/d437487/data_engineering/vpy/lib/python3.7/site-packages/sqlalchemy/pool.py", line 829, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/d437487/data_engineering/vpy/lib/python3.7/site-packages/sqlalchemy/engine/default.py", line 440, in do_rollback
    dbapi_connection.rollback()
psycopg2.OperationalError: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

'Connected: awsuser@sparkify'

In [39]:
%%sql
count_user << select count(*) as total_user from dim_user

 * postgresql://awsuser:***@dwhcluster.cwsp5pn9cdrp.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.
Returning data to local variable count_user

In [40]:
%%sql
count_song << select count(*) as total_song from dim_song

 * postgresql://awsuser:***@dwhcluster.cwsp5pn9cdrp.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.
Returning data to local variable count_song

In [41]:
%%sql
count_artist << select count(*) as total_artist from dim_artist

 * postgresql://awsuser:***@dwhcluster.cwsp5pn9cdrp.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.
Returning data to local variable count_artist

In [42]:
%%sql
count_time << select count(*) as total_time from dim_time

 * postgresql://awsuser:***@dwhcluster.cwsp5pn9cdrp.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.
Returning data to local variable count_time

In [43]:
%%sql
count_songplay << select count(*) as total_songplay from fact_songplay

 * postgresql://awsuser:***@dwhcluster.cwsp5pn9cdrp.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.
Returning data to local variable count_songplay

In [44]:
%%sql

select * from fact_songplay limit 10;

 * postgresql://awsuser:***@dwhcluster.cwsp5pn9cdrp.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(0, datetime.datetime(2018, 11, 16, 14, 21, 12, 796000), 85, 'paid', 'SOLRYQR12A670215BF', 'ARNLO5S1187B9B80CC', '436', 'Red Bluff, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (7, datetime.datetime(2018, 11, 21, 9, 48, 58, 796000), 88, 'paid', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', '744', 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (10, datetime.datetime(2018, 11, 29, 1, 38, 30, 796000), 24, 'paid', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', '984', 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (13, datetime.datetime(2018, 11, 6, 23, 32, 39, 796000), 97, 'paid', 'SOBRFPG12A8AE4837D', 'AR1N3PB1187B9B25C1', '293', 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (16, datetime.datetime(2018, 11, 14, 17, 48, 54, 796000), 80, 'paid', 'SOTJXIH12A6D228208', 'ARG85O51187B99CC1D', '574', 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (23, datetime.datetime(2018, 11, 22, 13, 21, 20, 796000), 101, 'free', 'SOUHTWB12A8C13BA4D', 'AR96LYR1187B9ABABD', '790', 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (26, datetime.datetime(2018, 11, 28, 18, 36, 57, 796000), 88, 'paid', 'SONHWUN12AC468C014', 'ARJIG5P1187B98D9DE', '999', 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (29, datetime.datetime(2018, 11, 29, 18, 52, 0, 796000), 82, 'paid', 'SOFRDPR12A8C139B54', 'ARCHO5Y1187FB5001F', '1017', 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (32, datetime.datetime(2018, 11, 16, 20, 13, 0, 796000), 49, 'paid', 'SOMVLEG12AB017C1D0', 'ARJKLZN12086C16C46', '648', 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (39, datetime.datetime(2018, 11, 4, 9, 19, 3, 796000), 44, 'paid', 'SOCSXKQ12A6D4F95A0', 'ARRE7IQ1187FB4CF13', '196', 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [45]:
print("Total User = " + str(count_user))
print("Total Song = " + str(count_song))
print("Total Artist = " + str(count_artist))
print("Total Time = " + str(count_time))
print("Total Songplay = " + str(count_songplay))

Total User = +------------+
| total_user |
+------------+
|    105     |
+------------+
Total Song = +------------+
| total_song |
+------------+
|   14896    |
+------------+
Total Artist = +--------------+
| total_artist |
+--------------+
|    10025     |
+--------------+
Total Time = +------------+
| total_time |
+------------+
|    8023    |
+------------+
Total Songplay = +----------------+
| total_songplay |
+----------------+
|      333       |
+----------------+